.order-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 16px;
    background-color: #f5f1f1;
}

.order-book-listing {
    font-size: 1.4em;
    margin: 8px;
    font-weight: bold;
    color: black;
}

.order-book-price {
    font-size: 1.6em;
    margin: 8px;
    font-weight: lighter;
    color: black;
}

.order-book-qty {
    font-size: 1em;
    margin: 8px;
    font-weight: lighter;
    color: black;
}

.order-cover-img {
    border-radius: 4px;
    color: white;
}

.confirm-checkout-btns {
    display: flex;
    justify-content: space-between;
}

.cart-btn {
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #222121;
    color: #e6e6e6;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;
    width: 48%;
    margin: auto;
}

.add {
    background-color: #239b41;
}
.add:hover,
.add:active {
    background-color: #1b7a33;
}

.rm {
    background-color: #963030;
}
.rm:hover,
.rm:active {
    background-color: #702323;
}
