.user-home {
    margin: auto;
    padding: 16px;
}

.featured-section h1 {
    color: black;
    font-size: 3em;
    font-weight: bold;
}

.featured-section hr {
    border: 10px dotted black;
    border-style: none none dotted;
}
