.view-page {
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

.view-details {
    text-align: center;
    padding: 16px;
    background-color: rgb(245, 245, 245);
    width: 60%;
}
.view-details h1  {
    font-size: 6em;
    padding: 0;
    margin: 0;
}
.view-details h2 {
    font-size: 2em;
    padding: 0;
    margin: 0;
}
.top-hr {
    margin-top: 16px;
    margin-bottom: 8em;
    display: block;             
    background-color:black;
    height: 4px;
}
.bottom-hr {
    margin-top: 8em;
}

.view-details p {
    text-align: left;
    font-size: 2em;
}
.view-details h3 {
    font-weight: bold;
    font-size: 4em;
    margin: 0;
    padding: 0;
}
.view-details button {
    cursor: pointer;
    margin-top: 1em;
    width: 80%;
    padding: 2.6rem 2rem;
    border: 1px solid #0b2712;
    background-color: #33af52;
    color: #e6e6e6;
    border-radius: 4px;
    font-weight: normal;
    font-size: 3em;
} 
.view-details button:hover,
.view-details button:active {
    background-color: #298f43;
}

.view-main {
    width: 37%;
    text-align: center;
}
.view-main img {
    width: 100%;
}