.signup-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    padding: 16px;
    margin: 2em auto;
    background-color: #f0e9e9;
}

.confirm-wnd {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    padding: 16px;
    margin: 2em auto;
    background-color: #f0e9e9;
}
.confirm-wnd h2 {
    font-weight: normal;
}

.signup-form input {
    font: inherit;
    padding: 1rem;
    margin: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 90%;
}

.create-btn {
    text-decoration: none;
}
.create-btn button {
    cursor: pointer;
    margin-top: 2rem;
    width: 40%;
    margin-top: 80px;
    padding: 1em 4em;
    border: 1px solid #222121;
    background-color: #5690d1;
    color: #e6e6e6;
    border-radius: 4px;
 
    font-weight: bold;
    font-size: 1.2em;
} 
.create-btn button:hover,
.create-btn button:active {
    background-color: #396ba3;
}

.confirm-btn {
    text-decoration: none;
}
.confirm-btn button {
    cursor: pointer;
    margin-top: 2rem;
    width: 50%;
    padding: 1rem 2rem;
    border: 1px solid #222121;
    background-color: #a39b9b;
    color: #e6e6e6;
    border-radius: 4px;
 
    font-weight: bold;
    font-size: 1.2em;
}
.confirm-btn button:hover,
.confirm-btn button:active {
    background-color: #7c7575;
}
 
.go-login {
    text-decoration: underline;
    font-size: 1.2em;
    color: black;
    margin: 12px;
}
.go-login:hover {
    color: blue;
}