.nav-bar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    padding: 4px 20px;
    background-color: black;
}

.nav-bar ul {
    display: flex;
    justify-content: space-evenly;
    column-gap: 24px;
    list-style: none;
}

.nav-link {
    font-size: 1.5em;
    text-decoration: none;
    color: #e2dfdf;
}

.nav-button {
    font-size: 1.5em;
    text-decoration: none;
    color: #e2dfdf;
    background: none;
	border: none;
    cursor: pointer;
}

.cart {
    position: relative;
}

.cart-count {
    background-color: red;
    border-radius: 2px;
    color: white;

    padding: 1px 3px;
    font-size: 14px;

    position: absolute;
    top: -8px;
    right: -14px;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(85, 41, 41);
    color: #e2dfdf;
    text-shadow: 3px 3px 2px #474747;
    font-size: 2em;
}