.admin-btns {
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2em;
    gap: 4em;
}

.admin-util {
    text-align: center;
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    background-color: rgb(236, 236, 236);
    
}
.admin-util h1 {
    font-size: 2em;
}
.unauthorized {
    text-align: center;
}

.admin-btn {
    cursor: pointer;
    padding: 2rem 4rem;
    border: 1px solid black;
    background-color: gray;
    color: #e6e6e6;
    border-radius: 8px;
    text-decoration: none;
    font-size: 2em;
    font-weight: normal;
} 
.admin-btn:hover,
.admin-btn :active {
    background-color: darkgray
}
 
